# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.db

# Executables
*.exe
*.out
*.app
MyFileWork/.vs/MyFileWork/v16/Solution.VC.db-wal
MyFileWork/.vs/MyFileWork/v16/Solution.VC.db-shm
MyFileWork/.vs/MyFileWork/v16/ipch/AutoPCH/c91ccbaefee2bd20/SOURCE.ipch
MyFileWork/.vs/MyFileWork/v16/ipch/AutoPCH/56e044472da6e6e2/SOURCE.ipch
MyFileWork/.vs/MyFileWork/v16/Browse.VC.opendb
MyFileWork/.vs/MyFileWork/v16/Browse.VC.db-wal
MyFileWork/.vs/MyFileWork/v16/Browse.VC.db-shm
MyFileWork/.vs/MyFileWork/v16/Browse.VC.db
